<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>討論區</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/eden.css') }}">
</head>
<body>
        <div class="sidebar-wrapper">
        <div class="hamburger-btn">☰</div>
        <nav class="side-menu">
            <a href="{{ url_for('home') }}">首頁 HOME</a>
            <a href="{{ url_for('about') }}">關於我們 ABOUT</a>
            <a href="{{ url_for('achievements') }}">成果展示 ACHIEVEMENTS</a>
            <a href="{{ url_for('contact') }}">聯絡我們 CONTACT</a>
            <a href="{{ url_for('forum') }}">討論區 FORUM</a>
        </nav>
    </div>

    <h1>這裡要放討論區</h1>
    <h2>需要帳密方得進入</h2>
    <h3>目前還沒有做登入系統，所以先放這裡</h3>
    <h4>支援文字及圖片上傳，未來可能會加入影片上傳功能</h4>
</body>
</html>